.card-item {
    flex-grow: 1;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px 40px;
}

.card-item-link {
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, .17);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.card-item-img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 70%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card-item-category {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(31, 152, 244);
    box-sizing: border-box;
}

.card-item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;
    opacity: .95;
    border-radius: 10px 10px 0 0;
}

.card-item-img-wrapper:hover .card-item-img {
    transform: scale(1.1);
    opacity: .5;
}

/* .card-item-img:hover {
    transform: scale(1.1);
    opacity: .5;
} */

.card-item-img-overlay-text {
    width: 100%;
    height: 100%;
    font-family: 'Bungee', cursive;    
    font-size: 3.2rem;
    color: #141414;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
}

.card-item-img-wrapper:hover .card-item-img-overlay-text {
    visibility: visible;
    opacity: 1;
}

.card-item-category-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: #141414;
    letter-spacing: 1.5px;
}

.card-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 15px 15px;
    box-sizing: border-box;
    box-shadow: 7px 5px 5px -20px rgba(78, 78, 78, 0.4),
                0px 3px 10px rgba(78, 78, 78, 0.4),
                -7px 5px 5px -20px rgba(78, 78, 78, 0.4);
    border-radius: 0 0 5px 5px;
}

.card-item-text {
    color: #141414;
    font-size: 1.4vw;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
}

@media (max-width: 992px) {

    .card-item {
        width: 100%;
    }

    .card-item-img-wrapper {
        padding-top: 55%;
    }

    .card-item-text {
        font-size: 2vw;
    }
}
