.cards {
    padding: 80px;
    background-color: #fff;
}

.cards-container {
    margin: 0 auto;
}

.cards-heading {
    font-family: 'Bungee', cursive;    
    font-size: 3.4vw;
    color: #141414;
    letter-spacing: 4px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.cards-heading::before, .cards-heading::after {
    display: block;
    content: '';
    width: 100%;
    border-top: 4px solid #000;
    border-bottom: 2px solid #000;
}

.cards-heading::before {
    margin-bottom: 20px;
}

.cards-heading::after {
    margin-top: 20px;
}

.cards-wrapper {
    position: relative;
    margin: 80px 0 0;
    width: 100%;
}

.cards-list {
    display: flex;
    flex: 1;
}

.cards-list + .cards-list .card-item {
    width: 33.3333%;
    padding: 0 10px 0;
}

.cards-list + .cards-list .card-item .card-item-img-overlay-text {
    font-size: 2.8rem;
}

.cards-list + .cards-list .card-item .card-item-caption-text {
    font-size: 1.2vw;
    line-height: 1.2;
    font-weight: 700;
}

@media (max-width: 992px) {

    .cards-list {
        display: block;
        flex: none;
    }

    .cards-list + .cards-list .card-item {
        width: 100%;
        padding: 0 10px 40px;
    }

    .cards-list + .cards-list .card-item:nth-child(3) {
        padding: 0 10px 0;
    }

    .cards-heading {
        font-size: 4vw;
    }

    .cards-list + .cards-list .card-item .card-item-img-overlay-text {
        font-size: 3.2rem;
    }

    .cards-list + .cards-list .card-item .card-item-caption-text {
        font-size: 2vw;
    }

}
